####################################################################################################
#                                            .gitignore                                            #
####################################################################################################
# Bazel.
/bazel.iml
/bazel-*
/output

# IntelliJ.
/.idea
*.iml
/.ijwb

# Java.
*.class
*.jar

# macOS.
.DS_Store

# Python.
.ipynb_checkpoints
__pycache__/
.pytest_cache
*.pyc
*.pyo

# Vim.
.*.swo
.*.swp

# Visual Studio Code.
.metals
.vscode
